- error = @page.errors.include?(:post_id)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :post_id, :class => 'control-label'
  .controls
    =f.text_field :post_id, :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:post_id, :class => 'text-error') : pat(:example)
- error = @page.errors.include?(:number)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :number, :class => 'control-label'
  .controls
    =f.text_field :number, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:number, :class => 'text-error') : pat(:example)
- error = @page.errors.include?(:layout)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :layout, :class => 'control-label'
  .controls
    =f.text_field :layout, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:layout, :class => 'text-error') : pat(:example)

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:pages, :index), :class => 'btn btn-default'