.col-md-1.col-md-offset-2
  = link_to 'Cancel', url(:countries, :pages, :id => @page.country_id), :class => 'btn btn-primary'
.col-md-6
  = f.submit 'Speichern und Neue Seite', :name => 'save_and_new', :class => 'btn btn-success center-block'
.col-md-1
  .pull-right
    = f.submit 'Speichern', :class => 'btn btn-success'

