.col-md-6
  %h3
    Seiten
.col-md-1.col-md-offset-1
  = link_to 'Neu', url(:posts, :new_page, :id => @post.id), :class => 'btn btn-success pull-right'

.col-md-12.top-buffer
  - @pages.each do |page|
    .col-md-6
    .col-md-1
      = link_to 'edit', url(:pages, :edit, id: page.id), class: 'btn btn-default'
    .col-md-1
      = form_for :page, url(:pages, :destroy, id: page.id), method: :delete do |f|
        = f.submit 'delete', class: 'btn btn-danger'
