@import 'bootstrap';
@import 'variables';
@import 'jquery.fullPage';
@import 'post_nav';
@import 'layouts';
@import 'pages';
@import 'map';

html {
  height: 100%;
}

body {
  height: 100%;
}

#map {
  width: 100%;
  height: calc(100% - #{$header-height});
  margin-top: $header-height;
}

.content {
  width: 100%;
  height: 100%;
}

.slimScrollBar {
  background-color: transparent;
  background: transparent;
}

#fp-nav {
  display: none;
}

@media (min-width: $screen-md-min) {
  #fp-nav {
    display: initial;
  }
}
