@import 'bootstrap';
@import 'variables';
@import 'jquery.fullPage';
@import 'pages';
@import 'layouts';
@import 'posts';
@import 'map';

html {
  height: 100%;
}

body {
  height: 100%;
}

footer {
  bottom: 0;
  height: $footer-height;
  position: relative;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  margin-top: 1px;
}

video {
  object-fit: inherit;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.full-height {
  height: 100%;
}

.fullpage-full-height {
  height: calc(100% - #{$fullpage-header-height});
  margin-bottom: $fullpage-header-height;
}

.top-buffer {
  margin-top: $top-buffer-height;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.vertical-bottom {
  display: inline-block;
  vertical-align: bottom;
  float: none;
}

.bottom {
  vertical-align: bottom;
  bottom: 0;
}

.pointer {
  cursor: pointer;
}

.slimScrollBar {
  background-color: transparent;
  background: transparent;
}

// extend bootstrap's class to actually keep the image
// inside the container
.img-responsive {
  max-height: 100%;
}

// override bootstrap alert style to fit into navbar
.alert {
  font-size: 14px;
  line-height: normal;
  padding: 10px 15px;
  margin: 5px 0;
  text-align: center;
}

// override bootstrap navbar collapse button to be left aligned and have no
// border
.navbar-toggle {
  float: left;
  margin-left: 10px;
  border: none;
}

// disable bootstrap collapse animation
.collapse {
  -webkit-transition: none;
  transition: none;
}

#fp-nav {
  display: none;
}

@media (min-width: $screen-md-min) {
  body {
    font-size: 16px;
  }

  #fp-nav {
    display: initial;
  }
}
