@import 'bootstrap';
@import 'variables';
@import 'jquery.fullPage';
@import 'post_nav';
@import 'layouts';
@import 'pages';

html {
  height: 100%;
}

body {
  height: 100%;
}

#velo-navigation {
  background-color: $body-bg;
}
