.layout {

  &.layout-blog {
    height: 90%;
  }

  &.layout-admin {
    height: $layout-height;
  }

  .title-row {
    height: 10%
  }

  .below-title-row {
    height: 83%;
    margin-top: 5px;
  }

  .row {
    .title {
      text-align: center;
    }

    .below-title {
      margin-top: 10px;
      height: calc(95% - (#{$input-height-large} - 10px))
    }
  }


  .text {
    height: 100%;
    text-align: justify;
  }

  .photo {
    height: 100%;
  }

  .col-input {
    height: $input-height-large;
  }

  .col-image {
    height: calc(100% - #{$input-height-large});

    &.top-buffer {
      height: calc(100% - (#{$input-height-large} + #{$top-buffer-height}))
    }
  }
}
