// General
$header-height: 50px;
$post-nav-padding: 10% 1%;
$top-buffer-height: 50px;
$layout-height: 450px;


// fullPage
$control-arrow-height: 25px;
$control-arrow-width: 22px;
$control-arrow-prev: $control-arrow-height $control-arrow-width $control-arrow-height 0;
$control-arrow-next: $control-arrow-height 0 $control-arrow-height $control-arrow-width;
