// General
$header-height: 50px;
$footer-height: 20px;
$fullpage-header-height: 80px; // used for better padding
$post-nav-padding: 10% 1%;
$top-buffer-height: 50px;
$layout-height: 400px;
$title-row-height: 50px;


// fullPage
$control-arrow-height: 25px;
$control-arrow-width: 22px;
$control-arrow-prev: $control-arrow-height $control-arrow-width $control-arrow-height 0;
$control-arrow-next: $control-arrow-height 0 $control-arrow-height $control-arrow-width;
