//colors
$color_gallery_approx: #eee;
$mercury: #e5e5e5;
$color_wild_sand_approx: #f5f5f5;
$color_tapa_approx: #777;
$color_suva_gray_approx: #878787;
$color_flush_mahogany_approx: #c43c35;
$white: #fff;
$color_mine_shaft_approx: #333;
$color_fuscous_gray_approx: #555;
$color_mercury_approx: #e7e7e7;
$color_mountain_mist_approx: #999;

//fonts
$font_0: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
$font_1: sans-serif;

//layout
$header-height: 50px;
$post-nav-padding: 10% 1%;

//fullPage
$control-arrow-height: 25px;
$control-arrow-width: 22px;
$control-arrow-prev: $control-arrow-height $control-arrow-width $control-arrow-height 0;
$control-arrow-next: $control-arrow-height 0 $control-arrow-height $control-arrow-width;
