- error = @group.errors.include?(:name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :name, :class => 'control-label'
  .controls
    =f.text_field :name, :class => 'form-control input-large input-with-feedback', :autofocus => true
    - if error
      %span.help-inline
        = f.error_message_on(:name, :class => 'text-error')

.form-actions
  = f.submit 'Speichern', :class => 'btn btn-primary'
  &nbsp;
  =link_to 'Cancel', url(:groups, :index), :class => 'btn btn-default'
