%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:groups, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:groups, :new)

.tabs-content
  = form_for :group, url(:groups, :create), :class => 'form-horizontal' do |f|
    =partial 'groups/form', :locals => { :f => f }
