#fullpage
  - @countries.each do |country|
    .section{:data => { :anchor => country.url_string, :tooltip => country.to_s }}
      - country.posts.ordered.each do |post|
        .slide
          .container.full-height
            .layout.layout-blog
              = partial "posts/#{post.layout}", :locals => { :post => post }
