#fullpage
  - @countries.each do |country|
    .section{:data => {:anchor => country.url_string}}
      - country.posts.each do |post|
        .slide
          = partial "posts/#{post.layout}", :locals => { :post => post }
