.row.full-height
  .full-height.col-md-6
    - if (picture = post.picture)
      = image_tag picture.url(:large), :class => 'img-responsive center-block'
  .col-md-6
    %h3= post.title
    %p.text= post.content
