#layout-text-top-pic-bottom.layout
  .row.form
    .col-md-6.col-md-offset-3
      - paragraph = page.paragraphs.find_or_initialize_by(:rank => 0)
      = paragraph
  .row.form
    .col-md-8.col-md-offset-2
      - photo = page.photos.find_or_initialize_by(:rank => 0)
      = image_tag photo.picture.url(:small) if photo.picture.exists?
