#impressum
  .container
    .row
      .col-md-12
        Für Fragen und Anregungen könnt ihr uns hier kontaktieren.
      .col-md-1
        Email:
      .col-md-10
        = mail_to 'dreiradfahrer@outlook.com'
    .row.top-buffer
      .col-md-12
        Kontakt
    .row
      .col-md-12
        Die DreiRadFahrer:
      .col-md-12
        Noah Müller, Hauptstrasse 7, 3427 Utzenstorf
      .col-md-12
        Joachim von Sauberzweig, Mattenhofstr. 11, 3007 Bern
      .col-md-12
        Sandro Röthlisberger, Drosselweg 8, 3427 Utzenstorf
