#projekt.page
  .portrait
    = image_tag 'turm.jpg'
  .text
    %h2
      All Inclusive mal anders...

    %p
      Im April 2016 startet unsere grosse Fahrradtour. Wir, Sandro, Joachim und Noah
      wollen auf unseren bepackten drahtigen Eseln von Bern nach Shanghai radeln. 
      Die nächsten neun Monate übernachten wir im Fünf-Sterne-Superior-Zelt und ernähren uns mittels Gourmet-Campingkocher.

      Alle die von Zeit zu Zeit gerne in Gedanken mit uns radeln wollen, finden hier unser offengelegtes Tagebuch vollbepackt mit Wort und Bild von dreizehntausend zu strampelnden Kilometern in sechzehn verschiedenen Ländern. 

      Uns erwarten neun Monate reichlich bepackt mit Schnee und Frost, Tropenregen und Wüstenhitze, Sandstürmen und Gegenwind, kulinarischen Leckerbissen und kulinarischen Retourkutschen, körperlicher und mentaler Erschöpfung abwechselnd mit kompletten Glücksgefühlen, Einsamkeit gefolgt von Dreisamkeit, Heimweh.

      Wir freuen uns auf unvergessliche Momente mit allem was dazu gehört – All Inclusive eben.
