#fullpage
  #sponsoren.section{:data => {:anchor => "sponsoren"}}
    .container
      #hajk.row
        .col-md-3
          = image_tag 'hajk.jpg', :class => 'img-responsive vertical-center'
        .col-md-9
          .h2 hajk
          %p.justify
            Hajk hat uns grosszügig mit Karten- und Ausrüstungsmaterial unterstützt.
            Zudem konnten wir auf eine grosszügige Preisereduktion zählen. Die
            sympathische und kompetente Beratung im Hajk-Shop in Bern haben wir sehr
            geschätzt! Für jeden Abenteurer ist Hajk mit seiner hochwertigen
            Outdoorausrüstung und der grossen Auswahl an Karten auf jeden Fall einen
            Besuch wert!

      #veloplus.row.top-buffer
        .col-md-3
          = image_tag 'veloplus.jpg', :class => 'img-responsive vertical-center'
        .col-md-9
          .h2
            VELO
            %em><PLUS
          %p.justify
            Veloplus hat uns mit seiner grossen und qualitativ hochwertigen
            Auswahl an Fahrrad- und Abenteuerausrüstung überzeugt. Dank einem
            Rabatt auf das ganze Sortiment konnten wir auch kräftig zuschlagen und
            unser fehlendes Material ergänzen. Vielen Dank auch für die
            gesponserten Lenkertaschen.

      #sistech.row.top-buffer
        .col-md-3
          = image_tag 'sistech.jpg', :class => 'img-responsive vertical-center'
        .col-md-9
          .h2 SIStech
          %p.justify
            Dank dem mobilen Solarkraftwerk ist es uns möglich, die Website
            während unserer Reise fleissig mit Einträgen zu füllen, in allen
            Ecken zu fotografieren und zwischendurch ein Buch auf unseren
            E-Readern zu lesen. Merci für die kompetente Beratung und die
            grosszügige Preisreduktion.

  .section{:data => {:anchor => 'goenner1'}}
    .container
      #klaus-loosli.row
        .col-md-3
          %strong Klaus Loosli
        .col-md-3
          Velomech
        .col-md-12
          %p.justify
            Chlöisu war uns bei der Vorbereitung eine grosse Hilfe. Dank seinen Erfahrungen auf Velotouren und seinem technischen Know-How wurden wir beim Velokauf perfekt beraten und dank dem Velomech-Crashkurs wissen wir jetzt auch, wie wir unsere Alltagsbegleiter fahrtüchtig halten können. Wenn ihr also mal ein Velo kauft, können wir euch den Veloladen in Bümpliz wärmstens empfehlen!
            %br
            Ein herzlicher Dank an Chlöisu
      #sandro-andrist.row.top-buffer
        .col-md-3
          %strong Sändu Andrist
        .col-md-3
          Selbsterprobender Outdoorspezialist
        .col-md-12
          %p.justify
            Dank deinen materiellen Erfahrungen war die Wahl des passenden Outfits leichter als Gedacht. Vielen Dank auch für den Rabatt. Bei dieser Summe war die Preisreduktion eine grosse Hilfe!
      #flurina-und-david.row.top-buffer
        .col-md-3
          %strong Flurina und David
        .col-md-3
          Gestandene Tourenfahrer
        .col-md-12
          %p.justify
            Vielen Dank für eure grossartigen Infos und eure Unterstützung mit dem Notfallset.
            Nach unzähligen Botschaftbesuchen, welche die Visa Thematik verkomplizieren, kamen uns eure Erfahrungen sehr entgegen.
            %br
            Und nicht zuletzt danke auch für den guten Glacé-Tipp. Den behalten wir jedoch für uns;-)

  .section{:data => {:anchor => 'goenner2'}}
    .container
      #sam-und-juelu.row
        .col-md-3
          %strong Sam und Jülu
        .col-md-3
          Gestandene Tourenfahrer
        .col-md-12
          %p.justify
            Es war uns eine grosse Hilfe und zugleich ein grosser Motivationsschub als ihr eure Erfahrungen mit uns geteilt habt! Während der trägen Vorbereitungszeit waren eure Erzählungen und Bilder genau das Richtige für uns.
            %br
            Ein grosser Dank an euch beide!
      #baerni.row.top-buffer
        .col-md-3
          %strong Bärni
        .col-md-3
        .col-md-12
          %p.justify
            Dank deinem gesponserten GPS-Tracker sind wir nicht ganz von der Welt abgeschnitten. Nicht nur wir, sondern alle interessierten Besucher von dreiradfahrer.ch können so verfolgen, wo wir gerade stecken.
            %br
            Dankeschön
      #freundinnen.row.top-buffer
        .col-md-3
          %strong Angela, Daniela und Petra
        .col-md-3
          unsere tollen Freundinnen
        .col-md-12
          %p
            Zu Letzt, aber am Wichtigsten seit ihr drei. Ihr seit ein fester Bestandteil von uns und somit auch von unserem Projekt. Wir freuen uns schon jetzt darauf euch im Iran zu treffen und mit euch strampelfreie Momente zu geniessen.
            %br
            Danke für eure Unterstützung und dass ihr da seit!
