#fullpage
  #sponsoren.section{:data => {:anchor => "sponsoren"}}
    .container
      .row
        #hajk
          .col-md-3
            = image_tag 'hajk.jpg', :class => 'img-responsive vertical-center'
          .col-md-9
            .h2 hajk
            %p
              Hajk hat uns grosszügig mit Karten- und Ausrüstungsmaterial unterstützt.
              Zudem konnten wir auf eine grosszügige Preisereduktion zählen. Die
              sympathische und kompetente Beratung im Hajk-Shop in Bern haben wir sehr
              geschätzt! Für jeden Abenteurer ist Hajk mit seiner hochwertigen
              Outdoorausrüstung und der grossen Auswahl an Karten auf jeden Fall einen
              Besuch wert!

      .row.top-buffer
        #veloplus
          .col-md-3
            = image_tag 'veloplus.jpg', :class => 'img-responsive vertical-center'
          .col-md-9
            .h2
              VELO
              %em><PLUS
            %p
              Veloplus hat uns mit seiner grossen und qualitativ hochwertigen
              Auswahl an Fahrrad- und Abenteuerausrüstung überzeugt. Dank einem
              Rabatt auf das ganze Sortiment konnten wir auch kräftig zuschlagen und
              unser fehlendes Material ergänzen. Vielen Dank auch für die
              gesponserten Lenkertaschen.

      .row.top-buffer
        #veloplus
          .col-md-3
            = image_tag 'sistech.jpg', :class => 'img-responsive vertical-center'
          .col-md-9
            .h2 SIStech
            %p
              Dank dem mobilen Solarkraftwerk ist es uns möglich, die Website
              während unserer Reise fleissig mit Einträgen zu füllen, in allen
              Ecken zu fotografieren und zwischendurch ein Buch auf unseren
              E-Readern zu lesen. Merci für die kompetente Beratung und die
              grosszügige Preisreduktion.

  #sponsoren.section{:data => {:anchor => 'goenner'}}
    .container
      .row.top-buffer
        #veloplus
          .col-md-3
            = image_tag 'sistech.jpg', :class => 'img-responsive vertical-center'
          .col-md-9
            .h2 SIStech
            %p
              Dank dem mobilen Solarkraftwerk ist es uns möglich, die Website
              während unserer Reise fleissig mit Einträgen zu füllen, in allen
              Ecken zu fotografieren und zwischendurch ein Buch auf unseren
              E-Readern zu lesen. Merci für die kompetente Beratung und die
              grosszügige Preisreduktion.
