#projekt.container
  %p
    Liebe potentielle Sponsoren und Gönner,
    %p
    Als Dank für einen finanziellen oder materiellen Beitrag würden Sie hier auf unserer Website verewigt.
    %br
    Für weitere Gegenleistungen sind wir offen...
  %p
    Vielen Dank im Voraus
  %p
    Die DreiRadFahrer
