#fullpage
  #wir
    .section{:data => {:anchor => 'joachim'}}
      .page
        .portrait
          = image_tag 'jobi.jpg'
        .text
          .text-content
            %p
              Name
              %br
              Joachim von Sauberzweig

            %p
              Alter
              %br
              25

            %p
              Fahrertyp
              %br
              Gemütlicher Trapper

            %p
              Beruf
              %br
              Sozial- und Heilpädagoge

            %p
              Meine Motivation für die Tour:
              %br
              Lange schon hege ich den Traum etwas in dieser Art zu machen. Ich möchte gerne eine Weile ausbrechen aus der geordneten Welt die ich kenne und etwas Verrücktes machen. Mich reizt es, ins Ungewisse zu fahren, neue Welten zu entdecken und ohne den alltäglichen Luxus zu leben. Ich möchte mit eigenen Augen sehen, wie es in Ländern wie dem Iran oder in China, von denen man in den Medien hier immer wieder mal liest, aber sich doch nicht so viel darunter vorstellen kann, aussieht. Ich möchte Landschaften, Länder und Menschen kennenlernen von denen ich bisher nicht viel weiss. Ich möchte zudem auf dieser Velotour auch mich selber besser kennenlernen. Ich möchte meine Grenzen kennenlernen und die Zeit nutzen um mir Gedanken über mein Leben zu machen. Was wäre besser geeignet für solche Erfahrungen als eine Velotour? (Oder der Jakobsweg?) Deshalb freue ich mich sehr, mit Noah und Sandro diese Tour machen zu dürfen.
    .section{:data => {:anchor => 'noah'}}
      .page
        .portrait
          = image_tag 'noah.jpg'
        .text
          .text-content
            %p
              Name
              %br
              Noah Müller
            %p
              Alter
              %br
              26
            %p
              Fahrertyp
              %br
              Gemächlicher Sprinter
            %p
              Beruf
              %br
              Architekt

            %p
              Meine Motivation für die Tour:
              %br
              Schon seit geraumer Zeit hege ich den Traum mit dem Fahrrad die
              Welt zu bereisen.  Natürlich könnte ich auch per Flugzeug oder
              Autostopp nach China gelangen, doch das Potenzial der
              Fortbewegung mittels Fahrrad liegt für mich im gemächlichen
              Tempo, welches  einem erlaubt die Umgebung mit allen Sinnen
              aufzunehmen. Durch die stetige körperliche Anstrengung wirken die
              Einflüsse besonders intensiv und vertiefen sich in meinen
              Gedanken. Diese Erfahrung machte ich bei meiner ersten grösseren
              Fahrradtour entlang dem Rhein bis zur Nordsee.
            %p
              Nebst der Fortbewegungsart habe ich eine grosse Leidenschaft für
              Velos.  Ein Fahrrad besteht aus einer minimalen Anzahl von Teilen,
              die in Geometrie und Material für ihre jeweiligen Funktionen
              optimiert sind. Zusammen ergeben sie eine wunderbare Mechanik. Am
              wichtigsten ist beim Fahrrad jedoch, dass es keine Schale hat.

              Die Kombination von archaischer Verausgabung und der High-Tech
              Entwicklung „Velo“ fasziniert mich. Das Verhältnis zwischen
              Anstrengung und Geschwindigkeit der Fortbewegung wird durch die
              Übersetzung der Muskelkraft auf das Hinterrad optimiert und
              ermöglicht Grosses. Das will ich auskosten.
    .section{:data => {:anchor => 'sandro'}}
      .page
        .portrait
          = image_tag 'sandro.jpg'
        .text
          .text-content
            %p
              Name
              %br
              Sandro Röthlisberger
            %p
              Alter
              %br
              25
            %p
              Fahrertyp
              %br
              Immer der Nase nach


            %p
              Beruf
              %br
              Klinischer Heilpädagoge

            %p
              Meine Motivation für die Tour:
              %br
              Nicht nur in Karl May's Abenteuerbüchern davon lesen, sondern
              selber fremde Kulturen entdecken und die Welt mit den eigenen
              Sinnen wahrnehmen... Schon seit längerer Zeit verspüre ich diesen
              Reise- und Abenteuerdrang. Nun ist es so weit und ich freue mich
              auf eine ungewisse Zeit fernab vom gemütlichen Zuhause, fernab
              vom Alltag und der üblichen Routine.
